### Sets

In [1]:
mySet = {'a','b','c'}
mySet

{'a', 'b', 'c'}

In [2]:
mySet = set({'a','b','c'})

In [4]:
mySet

{'a', 'b', 'c'}

In [5]:
myList = ['a','b','b','c','c']

myList = list(set(myList))
myList

['b', 'c', 'a']

In [6]:
mySet.add('d')
mySet

{'a', 'b', 'c', 'd'}

In [7]:
'a' in mySet

True

In [8]:
'z' in mySet

False

In [9]:
len(mySet)

4

In [10]:
while len(mySet):
    print(mySet.pop())

b
c
a
d

In [11]:
mySet

set()

In [12]:
mySet.discard('a')

In [13]:
mySet = {'a','b','c'}

In [14]:
mySet.discard('a')

In [15]:
mySet

{'b', 'c'}

### Tuples

In [16]:
myTuple = ('a','b','c')
myTuple

('a', 'b', 'c')

In [17]:
myTuple[0]

'a'

In [18]:
myTuple[0] = 'd'

TypeError: 'tuple' object does not support item assignment

In [25]:
def returnsMutipleValue():
    return 1,2,3

type(returnsMutipleValue())

tuple

In [23]:
myTuple = (1,2,3)

In [24]:
type(myTuple)

tuple

In [26]:
a,b,c = returnsMutipleValue()

In [27]:
print(a)
print(b)
print(c)

1
2
3